div.label-input {
    width: 100%;
    display: flex;

    margin: 0.5rem 0;

    align-items: baseline;

    label {
        width: 5rem;
    }

    input {
        flex-grow: 1;

        padding: 0.5rem;

        border: 1px solid darkgray;
        border-radius: 0.5rem;
    }
}