<!DOCTYPE html>
<html th:fragment="plantilla (titulo, contenido)"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/">
<head>
<title th:replace="${titulo}">IparteX</title>
</head>
<body>
	<h1>IparteX</h1>

	<ul>
		<li><a href="index.html" th:href="@{/index}">Principal</a>
		<li sec:authorize="!isAuthenticated()"><a href="login.html"
			th:href="@{/login}">Login</a></li>
		<li sec:authorize="!isAuthenticated()"><a href="registrar.html"
			th:href="@{/registrar}">Registrarse</a></li>
		<li sec:authorize="isAuthenticated()">
			<form th:action="@{/logout}" th:method="post">
				<button>Cerrar sesión</button>
			</form>
		<li sec:authorize="isAuthenticated()" sec:authentication="name">Pepillo</li>
	</ul>

	<main th:replace="${contenido}">
		<p>CONTENIDO POR DEFECTO</p>
	</main>

	<footer> &copy;2026 Javier Lete </footer>

</body>
</html>
