<!DOCTYPE html>
<html th:fragment="plantilla (titulo, contenido)"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/">
<head>
<title th:replace="${titulo}">IparteX</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
<body class="h-100 d-flex flex-column">
	<nav class="sticky-top navbar navbar-expand-sm bg-dark"
		data-bs-theme="dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="index">IparteX</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-sm-0">
					<li class="nav-item"><a class="nav-link" href="index">Principal</a></li>
				</ul>
				<ul class="navbar-nav mb-2 mb-sm-0">
					<th:block sec:authorize="isAuthenticated()">
						<li class="navbar-text"><span sec:authentication="name">USUARIO</span>
							<span sec:authentication="principal.authorities">ROLES</span></li>
						<li class="nav-item">
							<form th:action="logout" th:method="post">
								<button class="nav-link">Cerrar sesión</button>
							</form>
						</li>
					</th:block>
					<li sec:authorize="isAnonymous()" class="nav-item"><a
						class="nav-link" href="login">Iniciar sesión</a></li>
					<li sec:authorize="isAnonymous()" class="nav-item"><a
						class="nav-link" href="registrar">Registrarse</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class='container flex-grow-1 my-5'>
		<main th:replace="${contenido}">
			<p>CONTENIDO POR DEFECTO</p>
		</main>
	</div>

	<footer class="p-2 text-bg-dark"> &copy;2026 Javier Lete </footer>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
		crossorigin="anonymous"></script>
</body>


</html>
