<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/">

<title>IparteX: Mensajes</title>

<main>
	<form sec:authorize="isAuthenticated()"
		th:action="@{/usuario/nuevo-mensaje}" th:method="post" class="mb-5">
		<textarea class="form-control mb-3" name="texto"
			placeholder="Mensaje nuevo"></textarea>
		<button class="btn btn-primary">Enviar mensaje</button>
	</form>

	<ul class="list-group list-group">
		<li
			class="list-group-item d-flex justify-content-between align-items-start"
			th:each="mensaje: ${mensajes}" th:object="${mensaje}">
			<div class="ms-2 me-auto">
				<div class="fw-bold" th:text="*{usuario.nombre}">Javier</div>
				<pre th:text="*{texto}">flñajksdñ glkha sñdlgj ñalskdhg ñlaskdj</pre>
			</div> <span class="badge text-bg-primary rounded-pill"
			th:text="${#temporals.format(mensaje.fechaHora, 'dd/MMM/yyyy HH:mm')}">13/03/2026 9:13</span>
		</li>
	</ul>

</main>

</html>
