<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/">

<title>IparteX: Mensajes</title>

<main>
	<form sec:authorize="isAuthenticated()"
		th:action="@{/usuario/nuevo-mensaje}" th:method="post">
		<textarea name="texto" placeholder="Mensaje nuevo"></textarea>
		<button>Enviar mensaje</button>
	</form>

	<ul>
		<li th:each="mensaje: ${mensajes}">
			<p th:text="${mensaje.usuario.nombre}">Javier</p>
			<p th:text="${mensaje.fechaHora}">13/03/2026 9:13</p>
			<p th:text="${mensaje.texto}">flñajksdñ glkha sñdlgj ñalskdhg
				ñlaskdj fñlashd gñlkaj sdñflj asñdlkgh ñlash dg</p>
		</li>
	</ul>
</main>

</html>
