<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/">
<title>IparteX: Login</title>

<main>

	<p th:if="${param.error}">Error de login</p>
	<p th:if="${param.logout}">Cierre de sesión correcto</p>

	<form action="index.html" th:action="@{/login}" th:method="post">
		<input name="username" placeholder="Email"> <input
			name="password" placeholder="Contraseña">

		<button>Iniciar sesión</button>
	</form>
</main>

</html>
