<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/">
<title>IparteX: Registro</title>

<main>
	<form action="login.html" th:action="@{/registrar-post}"
		th:method="post" th:object="${usuario}">
		<div>
			<input th:field="*{nombre}" placeholder="Nombre">
			<p th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error
				en el nombre</p>
		</div>
		<div>
			<input th:field="*{email}" placeholder="Email">
			<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error
				en el email</p>
		</div>
		<div>
			<input th:field="*{password}" placeholder="Contraseña">
			<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error
				en la password</p>
		</div>

		<button>Registrarse</button>
	</form>

</main>

</html>