:root {
    --tipo-letra-texto: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --color-vinculo: #0091ff;
    --color-fondo: white;
    --color-tinta: black;

    --margen-mediano: 0.5rem;
    --margen-pequeno: 0.25rem;
    --margen-grande: 1rem;
}

body {
    font-family: var(--tipo-letra-texto);

    margin: 0;
}

a {
    color: var(--color-vinculo);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}


body>nav {
    background-color: black;
    padding: var(--margen-mediano);

    ul {
        margin: 0;
        padding-left: 0;
        text-align: center;

        li {
            display: inline;

            a {
                display: inline-block;

                color: var(--color-fondo);
                padding: var(--margen-pequeno);

                &:hover {
                    text-decoration: none;

                    color: var(--color-tinta);
                    background-color: var(--color-fondo);
                }
            }
        }
    }
}

