body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin: 0;
}

a {
    color: #0091ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body>nav {
    background-color: black;
    padding: 0.5rem;
}

body>nav ul {
    margin: 0;
    padding-left: 0;
    text-align: center;
}

body>nav li {
    display: inline;
}

body>nav a {
    display: inline-block;
    
    color: white;
    padding: 0.25rem;
}

body>nav a:hover {
    text-decoration: none;
    
    color: black;
    background-color: white;
}