/* VARIABLES CSS */
:root {
    --tipo-letra-texto: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --tipo-letra-titulo: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --tipo-letra-negrilla: 500;

    --color-vinculo: #0091ff;
    --color-fondo: white;
    --color-fondo-suave: lightgray;
    --color-tinta: black;
    --color-destacado: yellow;

    --margen-mediano: 0.5rem;
    --margen-pequeno: 0.25rem;
    --margen-grande: 1rem;

    --borde: 1px solid darkgray;
}

/* ETIQUETAS ESTÁNDAR */
body {
    font-family: var(--tipo-letra-texto);

    margin: 0;
}

main {
    padding: var(--margen-grande);
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: var(--tipo-letra-titulo);
}

dt {
    font-weight: var(--tipo-letra-negrilla);
}

dd {
    margin-left: 0;
    margin-bottom: var(--margen-mediano);
}

p {
    margin: calc(var(--margen-grande) * 2) 0;
    line-height: calc(1rem + var(--margen-mediano));
}

pre {
    background-color: var(--color-fondo-suave);
    padding: var(--margen-mediano);

    border-radius: var(--margen-pequeno);
    border: var(--borde);

    overflow: auto;
}

figure, img, video, audio {
    margin: 0;
    width: 100%;
}

strong {
    font-weight: normal;
    font-variant: small-caps;
}

a {
    color: var(--color-vinculo);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

/* MENÚ PRINCIPAL */
body>nav {
    background-color: black;
    padding: var(--margen-mediano);

    ul {
        margin: 0;
        padding-left: 0;
        text-align: center;

        li a {
            display: inline-block;

            color: var(--color-fondo);
            padding: var(--margen-pequeno);

            &:hover {
                text-decoration: none;

                color: var(--color-tinta);
                background-color: var(--color-fondo);
            }
        }
    }
}

article {
    h1, h2, h3, h4, h5, h6 {
        &::before {
            content: '<';
        }

        &::after {
            content: '>';
        }
    }
}

.destacado {
    background-color: var(--color-destacado);
}