/* TIPOS DE LETRA */
@import url(fonts.css);

/* RESETEO GLOBAL */
* {
    box-sizing: border-box;
}

/* VARIABLES CSS */
:root {
    --tipo-letra-texto: "Inter", sans-serif;
    --tipo-letra-titulo: "Tilt Neon", sans-serif;
    --tipo-letra-consola: "Cascadia Code", sans-serif;
    --tipo-letra-negrilla: 500;

    --color-vinculo: #0091ff;
    --color-fondo: white;
    --color-fondo-suave: #d3d3d3;
    --color-fondo-mas-suave: #e5e5e5;
    --color-fondo-menos-suave: #c5c5c5;
    --color-tinta: black;
    --color-destacado: yellow;

    --margen-mediano: 0.5rem;
    --margen-pequeno: 0.25rem;
    --margen-grande: 1rem;

    --borde: 1px solid darkgray;
}

/* ETIQUETAS ESTÁNDAR */
body {
    font-family: var(--tipo-letra-texto);

    margin: 0;
}

main {
    padding: var(--margen-grande);
}

table {
    width: 100%;
    border-collapse: collapse;

    thead,
    tfoot {
        background-color: var(--color-fondo-suave);

        td {
            font-weight: var(--tipo-letra-negrilla);
        }
    }

    th {
        font-weight: var(--tipo-letra-negrilla);
    }

    tbody {
        tr:nth-child(even) {
            background-color: var(--color-fondo-mas-suave);
        }
    }

    th,
    td {
        border: 1px solid var(--color-fondo-menos-suave);
        padding: var(--margen-pequeno);
    }
}

form {
    fieldset, input, button {
        width: 100%;

        border: var(--borde);
        border-radius: var(--margen-mediano);
        padding: var(--margen-pequeno) var(--margen-mediano);
        margin: var(--margen-pequeno) 0;
    }

    button {
        background-color: var(--color-fondo-suave);
    }

    legend {
        font-weight: var(--tipo-letra-negrilla);
    }

}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    font-family: var(--tipo-letra-titulo);
}

dt {
    font-weight: var(--tipo-letra-negrilla);
}

dd {
    margin-left: 0;
    margin-bottom: var(--margen-mediano);
}

p {
    margin: calc(var(--margen-grande) * 2) 0;
    line-height: calc(1rem + var(--margen-mediano));
}

pre {
    font-family: var(--tipo-letra-consola);
    
    background-color: var(--color-fondo-suave);
    padding: var(--margen-mediano);

    border-radius: var(--margen-pequeno);
    border: var(--borde);

    overflow: auto;
}

figure,
img,
video,
audio {
    &:not(img) {
        border: var(--borde);
    }

    border-radius: var(--margen-pequeno);

    margin: var(--margen-grande) 0;
    width: 100%;
}

figure {
    padding: var(--margen-mediano);
}

figcaption {
    font-size: 0.8rem;
    font-weight: 100;
    text-align: end;
}

audio {
    border-radius: 2rem;
}

.proporcion {
    position: relative;

    width: 100%;
    height: 0;
    
    margin: var(--margen-grande) 0;
    padding-bottom: calc(9/16 * 100%);
    
    iframe {
        position: absolute;
        
        width: 100%;
        height: 100%;
        
        border: var(--borde);
        border-radius: var(--margen-pequeno);
    }
}

.p1x1 {
    padding-bottom: 100%;
}

.p4x3 {
    padding-bottom: calc(3/4 * 100%);
}

.p16x9 {
    padding-bottom: calc(9/16 * 100%);
}

.p21x9 {
    padding-bottom: calc(9/21 * 100%);
}

.p2x1 {
    padding-bottom: calc(2 * 100%);
}

strong {
    font-weight: normal;
    font-variant: small-caps;
}

a {
    color: var(--color-vinculo);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

/* MENÚ PRINCIPAL */
body>nav, footer {
    background-color: black;
    color: white;

    padding: var(--margen-mediano);

    text-align:center;

    ul {
        margin: 0;
        padding-left: 0;
        text-align: center;

        li a {
            display: inline-block;

            color: var(--color-fondo);
            padding: var(--margen-pequeno);

            &:hover {
                text-decoration: none;

                color: var(--color-tinta);
                background-color: var(--color-fondo);
            }
        }
    }
}

article {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        &::before {
            content: '<';
        }

        &::after {
            content: '>';
        }
    }
}

.destacado {
    background-color: var(--color-destacado);
}

#tablas {
    overflow: auto;
}

th,
td {

    &:first-child,
    &:last-child {
        text-align: right;
    }

    &:nth-child(2) {
        text-align: start;
    }
}

aside {
    background-color: var(--color-fondo-suave);
    padding: var(--margen-grande);

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        text-align: center;
        list-style: none;
        padding: var(--margen-mediano) 0;
    }
}

#arriba {
    position: fixed;

    bottom: 0;
    right: 0;
    
    margin: var(--margen-mediano);
    
    background-color: var(--color-fondo-suave);
    color: var(--color-tinta);

    text-decoration: none;

    border: var(--borde);
    padding: var(--margen-pequeno);
    border-radius: var(--margen-pequeno);

    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}